<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tiendesita</title>
    <title>Beatriz Pacheco Piñero</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/tienda.css">
    <script src="static/client.js"></script>

</head>

<body onload="buscar()">

    <p id="title"> Tienda <p>
    <i id="user">Bienvenido #{user}</i>

    <div class="content">
      <button id="ingreso" type="button" onclick="window.location.href='/ingreso'">Registro</button><br>
      <button type="button" onclick="window.location.href='/Bicis'"><img class="imag" src="/static/bici.jpg" alt="gif">Librería Novela Negra</button>
      <button type="button" onclick="window.location.href='/discos'"><img class="imag" src="/static/discos.jpg" alt="gif">Librería Novela de Misterio</button>
      <button type="button" onclick="window.location.href='/libros'"><img class="imag" src="/static/libro.jpg" alt="gif">Librería Novela de Fantasía</button>
      <button type="button" onclick="carrito()" > <img class="cestita" src="/static/cesta.png" alt="gif"> <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></button>
    </div>

    <!-- <div class="mainslider">

      <img onclick="window.location.href = './../static/bici.html'" src="bici.jpeg" width="200px" height="140px">
      <img onclick="window.location.href = 'discos.html'" src="discos.jpeg" width="200px" height="140px">
      <img onclick="window.location.href = 'libros.html'" src="libros.jpeg" width="200px" height="140px">

    </div> -->

    <!-- Buscador -->
    <form id="buscador" action="/search" method="POST">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="text" list="busc" type="text" name='search' id="key" placeholder="¿Qué buscas?">
      <input class="button" type="submit" name="submit" value="Buscar">
      <datalist id="busc"></datalist>
    </form>

    <div>
    <button class ="button" type="button">Finalizar compra</button>
    </div>

</body>

</html>
