<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="tienda.css">
    <title></title>
  </head>
  <body>
    <a href='tienda.html'>Páina principal</a>
    <div>
      <h3>Disco 1</h3>
        <ul>
          <img src="discos1.jpeg" width="200px" height="140px">
          <p> Precio: 11.45€ </p>
          <p> Cantante: La raiz: Entre petas y presos </p>
        </ul>
      <h3>Disco 2</h3>
        <ul>
          <img src="discos2.jpeg" width="200px" height="140px">
          <p> Precio: 19.95€ </p>
          <p> Cantante: Boikot: Tus probelmas crecen </p>
        </ul>
      <h3>Disco 3</h3>
        <ul>
          <img src="discos3.jpeg" width="200px" height="140px">
          <p> Precio: 13.99€ </p>
          <p> Cantante: La Pegatina: Ahora o nunca </p>
        </ul>
    </div>
  </body>
</html>
