<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tienda</title>
    <title>Beatriz Pacheco Piñero</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tienda.css'%}">


</head>

<body>

    <p id="title"> Tienda </p>
    <p id="special"> Beatriz Pacheco </p>

    <form method = "POST" >
    <i class="fa fa-search"></i>
    <input type="text" name="buscar" size="20"><br><br>
    <input type="submit" value="Buscar">

    <div class="mainslider">
      {% load static %}
      <img src="{% static 'bici.jpeg'%}"  onclick="window.location.href = 'bici'"   width="200px" height="140px">
      <img src="{% static 'discos.jpeg'%}" onclick="window.location.href = 'discos'" width="200px" height="140px">
      <img src="{% static 'libros.jpeg'%}" onclick="window.location.href = 'libros'" width="200px" height="140px">

    </div>

</body>

</html>
