<!-- admin, models, views// python manage.py makemigrations /// python manage.py migrate -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tienda</title>
    <title>Beatriz Pacheco Piñero</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tienda.css'%}">


</head>

<body>

    <p id="title"> Tienda </p>
    <p id="special"> Beatriz Pacheco </p>


    <div class="mainslider">
      {% load static %}
      <img src="{% static 'bici.jpeg'%}"  onclick="window.location.href = 'bici'"   width="200px" height="140px">
      <img src="{% static 'discos.jpeg'%}" onclick="window.location.href = 'discos'" width="200px" height="140px">
      <img src="{% static 'libros.jpeg'%}" onclick="window.location.href = 'libros'" width="200px" height="140px">
      <img src="{% static 'espadita.jpeg'%}" onclick="window.location.href = 'espadita'" width="200px" height="140px">

    </div>

</body>

</html>
