body{
	background-image:url(./fondo.jpg);
	background-repeat: no-repeat;
  background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}


p#title{
	font-family: puzzle;
	font-size: 60px;
	color: black;
	cursor: default;
}

p#special{
	font-family: depalma;
	font-size: 20px;
	color: black;
	position: absolute;
	top: 120px;
	left: 175px;
	cursor: default;
}


div.mainslider{
	position: absolute;
	top: 30px;
	left: 600px;
}

img.slide{
	cursor: pointer;
}

img#imageType{
	position:absolute;
	width: 300px;
	height: 200px;
	top: 370px;
	left: 50px;
	border: 6px solid skyblue;
}


table{
	position: absolute;
	right: 60px;
  top: 25%;
	background-color: black;
	border-collapse: collapse;
	border: 6px solid black;
}
